.john-basket{
    width: 50% ;
    margin-top: 50px ;
    height: 500px;
}    
.john-about {
    margin-top: 8%;
}
.john-fl{
    margin-left: 60px;
}
.john-ab{
    color:#E9672B;
    
}
.aero-money{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}
.john-money{
    margin-left: 50px;
    
} 
.john-gift{
    margin-left: 53px;
} 
.phone-gift{
}
.john-word{
    margin-top: 50px;
    color: #1D1F1F;
}
.john-believe {
    color: #5D5F5F;
}
.john-cupboard{
    width: 550px;
    height: 650px;
}
.j-cupstudy{
    margin-top: 100px;
}
.john-study{
    margin-top: 75px;
    width: 450px;
    height: 500px;
    margin-left: 140px;
}
.j-major img {
    margin: 20px;
} 
.john-loer{
    color: #5D5F5F;
    margin-top: 100px;
}
.j-major{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
@media (max-width: 992px) { 
    .j-major{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: -30px;
    }
    br{
        display: none;
    }
    .john-basket{
        width: 400px;
        height: auto;
    }
    .john-fl{
        margin-left: 10px;
    }
    .john-money{
        margin-left: -1px;
    }
    .john-phone{
    }
    .john-gift{
        margin-left: -1px;
    }
    .aero-money{
        display: block;
        margin-bottom: 20px;
    }
    .john-study{
        margin-left: 1px;
    }
    .j-major img{
         width: 90px;
    }
    
}
