.john-basket{
    width: 50% ;
    margin-top: 140px ;
    height: 500px;
}    
.john-about {
    margin-top: 15%;
}
.john-fl{
    margin-left: 40px;
}
.john-ab{
    color:#E9672B;
    
}
.aero-money{
    margin-bottom: 20px;
}
.john-money{
    margin-left: 90px;
    
} 
.john-gift{
    margin-left: 53px;
} 
.phone-gift{
}
.john-word{
    margin-top: 50px;
    color: #1D1F1F;
}
.john-believe {
    color: #5D5F5F;
}
.john-cupboard{
    width: 550px;
    height: 650px;
}
.j-cupstudy{
    margin-top: 100px;
}
.john-study{
    margin-top: 75px;
    width: 450px;
    height: 500px;
    margin-left: 140px;
}
.john-loer{
    color: #5D5F5F;
    margin-top: 100px;
}
