.Tonys-main {
    background: #103D37;
    height: 430px;
}
small{
    color: #CDD454;
}
.dami-new{
    font-size: 30px;
    overflow: hidden;
    font-weight: 700;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E3E3E3;
}
.special-offer {
    margin-left: 4.5rem;
}
.dami-shop{
    background: #DE5212 !important;
    color: white;
    border: none;
    border-radius: 20px;
}
.Lyon-wrap{
    margin-top: 50px;
}
.chair {
    margin-left: -3.5rem;
    margin-top: -3rem;
    width: 400px;
    height:  300px;   
}
.chair-label {
    width: 80px;
    margin-top: -27rem;
    margin-left: 18.5rem;
}
.furni {
    font-weight: 700;
}
.man{
    background: #E8E8E8;
    width: 400px !important;
    height: 640px;
}

.furn{
    margin-top: -7.5%;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    padding-right: 120px;
}
.fun{
    margin-left: 5rem;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #5D5F5F;
}
.Tony-now{
    color: #DE5212 !important;
    background: white;
    border: none;
    border-radius: 20px; 
    margin-left: 95px;
    margin-top: 7rem;
    font-weight: 600;
}
.men{
    margin-left: 1rem;
}
.food-text {
    width: 390px;
    height: 108px;
    margin-top: -6.7rem;
    background: rgba(11, 11, 11, 0.31);
    backdrop-filter: blur(2.5px);
    border-radius: 28px 0px 5px 5px;
}
.food-price {
    color: #EF8C5F;
    font-size: 24px;
}
.food-price span {
    opacity: 0.5;
    font-size: 22px;
}

.tony-weather {
    width: 800px;
    background-color: #FFF5EB;
}
.weather-group {
    width: 70px;
    margin-left: -4rem;
    margin-top: -7rem;
}

.tonyweda{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #E9672B;
    width: 160px;
    /* height: 54px; */
}
.after{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #DA3E31;
    display: flex;
}
.before{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-decoration-line: line-through;
    color: #E8CFB5;
}
.tony-b{
    color: #DE5212 !important;
    background: white;
    border: none;
    border-radius: 20px; 
    font-weight: 600;
}
.icons ul>li{
    display: inline;
    margin-right: 18px;
    font-size: 15px;
}

/* Hotsales */

.flash-sales {
    border: red 4px solid;
    text-align: center;
    padding-top: 2rem;
}

.days {
    margin-top: 30px;
    background-color: #1D1F1F;
    height: 52px;
    color: #FFFFFF;
    width: 70%;
    justify-content: center;
    margin-left: 40px;
    border-radius: 10px;
} 

.tony-num {
    display: flex;
    padding-left: 60px;
    font-size: small;
    margin-top: 5px;
    word-spacing: 5px;
    margin-left: -28px;
}
.tony-days{
    font-size: small;
    overflow: hidden;
}
.lastitem{
    background-color: red;
    width: 12rem;
    height: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    margin-left: 3rem;
}
.tony-fire {
    color: #FDCB4B;
    position: absolute;
    margin-left: 4rem;
    margin-top: -0.5rem;
}

.black {
    color: black;
    margin-right: 4px;
}
.red {
    color: red;
    margin-right: 4px;
}
.yellow {
    color: #FAAD14;
    margin-right: 4px;
}
.grey {
    color: #71767C;
    margin-right: 4px;
}

.green {
    color: #52C41A;
    margin-right: 4px;
}

.Tony-heading{
    text-align: center;
    overflow: hidden;
}

.Hotsales {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 30px;
}
.tony-main{
    width: 90%;
}
.lyon{
    background-color: #CDD454;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 13px;
    margin-top: 2rem;
    position: absolute;
    margin-left: 2rem;
}

.tony-hot  {
    justify-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.tony-hot:hover {
    box-shadow: 0 2px 8px gray;
    border-radius: 10px;
}

.tony:hover{
    box-shadow: none;

}

.select {
    padding-left: 1rem;
    background: none;
}

.tony-text {
    color: #5D5F5F;
}

.price {
    color: #1D1F1F;
}

.link {
    color: #E9672B;
    text-decoration: underline;
}

.tony-discount {
    text-decoration: line-through;
}

.SubH {
    padding-left: 0;
    margin-top: 2rem;
    font-size: 30px;
    font: bolder;
    font-family: serif;
    padding-bottom: 20px;
}

.kid {
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 10px;
}

.kid:hover {
    box-shadow: 0 2px 8px gray
}

.tony-kids {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 10px;
}
.tony-row{
    padding-bottom: 5rem;
}

.tony-price{
    text-align: center;
    padding-top: 0.7rem;
}

.tony-chair {
    background-color: #FDF2E8;
    border-radius: 8px;
    display: flex;
    height: 27rem;
    width: 580px;
}
.tony-hot-last {
    margin-left: 6rem;
}

.tony-lamb{
    background: #F4F4F5;
    border-radius: 8px;
    display: flex;
    height: 27rem;
    width: 580px;
}

.tony-lamb{
    box-shadow: 0 2px 8px gray;
    border-radius: 10px;
}
.tony-lamb1 {
    background: #F4F4F5;
    margin-top: 3%;
    height: 300px !important;
}

.tony-chair1 {
    position: absolute;
    margin-top: 4.4rem;
    width: 260px;
}
.tony-chair2 {
    padding-top: 4.5rem;
    margin-left: 24.5rem;
    margin-top: 3rem;
}

.tony-collection {
    color: #E9672B;
    position: absolute;
    margin-top: 12rem;
    margin-left: 12.3rem;
    letter-spacing: 3px;
    font-size: 12px;
}

.tony-comfort {
    position: absolute;
    color: #1D1F1F;
    margin-top: 13.3rem;
    margin-left: 10rem;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
}

.Tony-explore {
    position: absolute;
    background-color: #E9672B;
    padding-top: 6px;
    cursor: pointer;
    width: 9rem;
    height: 40px;
    border-radius: 40px;
    margin-top: 18rem;
    position: absolute;
    margin-left: 13.3rem;
    border: none;
    color: #fff;
}
.Tony-explore:hover {
    color: #fff;
}
.tony-coll2 {
    margin-left: 13rem;
}
.tony-explo2 {
    margin-left: 15rem;
}
.tony-comf2 {
    margin-left: 11.4rem;
}
.tony-lamp2{
    margin-left: 17rem;
    margin-top: 3%;
    width: 124px;
    height: 235px !important;
}

.tony2-heading{
    font-family: Sofia Pro;
    font-style: Bold;
    font-size: 30px;
    line-height: 48px;
    align-items: Center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
.tony2-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.tony2-items ul{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    list-style: none;
    gap: 30px;
}
.tony2-items li a{
    gap: 50px;
    color: #E9672B;
    background-color: #FBF8F5;
    text-decoration: none;
    border-radius: 9px;
    padding: 3px 17px;
}
.tony2-items li a:hover{
    color:#FBF8F5;
    background-color: #E9672B;
}
.featured-row{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    gap: 10px;
}

.featured-card{ 
    width: 250px;
}
.storeName{
    background: black;
    color: white;
    overflow: hidden;
    text-align: center;
    border-radius: 3px;
}
.featured-name{
    overflow: hidden;
    font-size: 25px;
    font-weight: 400;
    color: #ffff;
}


/* great design */
.tony-friday {
    background-color: #212121;
    padding: 8px 12px;
}
.tony-40 {
    color: #CDD454;
}
.tony-40-sale {
    color: #CDD454;
    font-size: 50px;
}
.friday2 {
    margin-left: 12rem;
}
.friday-text {
    font-family: 'Sofia Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    color: #FEFEFE;
}
.fri-text2 {
    letter-spacing: 2px;
    line-height: 39px;
}
.friday-img {
    width: 130px !important;
}
.tony-friday img {
    width: 82.3px;
    height: 80px;
}


/* Categories */

.categotie-img img {
   padding: 21px;
}

/* Popular Categories */

.popular-head {
    margin-left: 4.5rem;
}
.tony-popular {
    background-image: url('../Assets/Rectangle\ 296.png');
    background-repeat: no-repeat;
    background-position: center;
}
.popular-head h5 {
    padding: 43px;
}
.popluar-hr {
    width: 1000px;
    margin-left: 3rem;
    margin-top: -2rem;
    border: 1px solid #FFFFFF;
}
.popular-body {
    margin-left: 2rem;
}
.popular-body h6 {
    text-align: center;
   padding: 58px;
   margin-top: -5rem;
   letter-spacing: 0.7px;
}
.tony-body {
    margin-top: 2.5rem;
}
.great-design {
    background-color: #103D37;
    height: 141px;
    margin-top: 8rem;
    margin-bottom: 5rem;
}
.design-sofa {
    margin-top: -2.7rem;
}
.great-60 {
    margin-left: -3.5rem;
}
.design-text  {
    margin-top: 2rem;
    margin-left: 5rem;
}
.design-wood {
    color: #CDD454;
}
.design-explore {
    padding: 10px 50px;
    background: #DA3E31;
    border-radius: 40px;
    margin-top: 8rem;
    margin-left: 5rem;
}

.holiday-sale img {
    width: 1200px;
    /* justify-content: center; */
    padding-left: 5rem;
}
.holiday-explore {
    position: relative;
    top: -7rem;
    left: 33rem;
    padding: 8.7px 34px;
    background-color: #103D37;
    border-radius: 40px;
}

.tony-news {
    border: none;  
}
.newletter-img {
    width: 1100px;
    height: 70px;
}
.landing-sponsor {
    margin-left: -3rem;
}

.tony-ig {
    justify-content: center;
    display: flex;
}


@media (max-width: 992px) {
    .landing-fridge, .landing-girl {
        display: none;
    }
    .Tonys-main {
        background: #103D37;
        width: 100%;
        height: 100%;
    }
    .special-offer {
        margin-left: 2rem;
        margin-top: 1rem;
    }
    .special img {
        width: 90%;
    }
    .man{
        background: #E8E8E8;
        width: 350px !important;
        height: 600px;
    }
    .chair {
        margin-left: -4rem;
    }
    .special-second {
        margin-top: 2rem;
        margin-left: -2rem;
    }
    .special-second img {
        width: 100%;
        height: 220px;
        margin-right: 10rem;
    }
    .food-text {
        width: 200px;
        height: 95px;
        margin-top: -5.7rem;
    }
    .tony-weather {
        width: 380px;
        margin-left: -1.8rem;
    } 
    .weather {
        margin-left: -2.5rem;
    }
    .weather-group {
        margin-left: 19rem;
        margin-top: -26rem;
    }

    /* HOTSALES */
    .lastitem {
        margin-left: 6rem;
    }
    .tony-fire{
        margin-left: 7rem;
    }
    .tony-hot  {
        justify-self: center;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0.5rem;
        text-align: center;
    }
    .hot-imgs {
        margin-top: 2rem !important;
    }
    .hot-sales-imgs {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .hot-sales-imgs img {
        width: 100px;
    }
    .tony-hot .select {
        display: none;
    }
    .tony-text, .price {
        font-size: 12px;
        margin-top: 5px;
    }
    .link {display: none;}

    /* TOP CATEGORIES */
    .tony-row {
        display: grid !important;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .SubH {
        margin-top: 3rem;
        background-color: #DE5212;
        height: 50px;
        width: 106.5%;
        padding-left: 1rem;
        font-size: 30px;
        font: bolder;
        font-family: serif;
        margin-left: -0.8rem;
        color: #fff;
        /* padding-bottom: 20px; */
    }
   
}

/* @media screen and (max-width: 1024px) {
    
}
  

@media screen and (max-width: 600px) {
    
    
  } */
  