.Tonys-main {
    background: #103D37;
    height: 430px;
}
small{
    color: #CDD454;
}
.dami-new{
    font-size: 30px;
    overflow: hidden;
    font-weight: 700;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #E3E3E3;
}
.dami-shop{
    background: #DE5212 !important;
    color: white;
    border: none;
    border-radius: 20px;
}
.Lyon-wrap{
    margin-top: 50px !important;
}
.chair {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 440px;
    height:  300px;   
}
.man{
    background: #E8E8E8;
}
.special{
    margin-top:70px;
    padding-left: 30px;
}
.furn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    padding-right: 120px;
}
.fun{
    padding-left: 120px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #5D5F5F;
}
.Tony-now{
    color: #DE5212 !important;
    background: white;
    border: none;
    border-radius: 20px; 
    margin-left: 130px;
}
.men{
    /* height: 320px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.tony-weather {
    /* height: 320px; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #FFF5EB;
}
.mans{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.tonyweda{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 25px;
    color: #E9672B;
    width: 160px;
    /* height: 54px; */
}
.after{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 48px;
    color: #DA3E31;
    display: flex;
}
.before{
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    text-decoration-line: line-through;
    color: #E8CFB5;
}
.tony-b{
    color: #DE5212 !important;
    background: white;
    border: none;
    border-radius: 20px; 
}
.icons ul>li{
    display: inline;
    margin-right: 18px;
    font-size: 15px;
}

/* Hotsales */

.flash-sales {
    border: red 4px solid;
    text-align: center;
    padding-top: 2rem;
}

.days {
    margin-top: 30px;
    background-color: #1D1F1F;
    height: 52px;
    color: #FFFFFF;
    width: 70%;
    justify-content: center;
    margin-left: 40px;
    border-radius: 10px;
} 

.tony-num {
    display: flex;
    padding-left: 60px;
    font-size: small;
    margin-top: 5px;
    word-spacing: 5px;
    margin-left: -28px;
}
.tony-days{
    font-size: small;
    overflow: hidden;
}
.lastitem{
    background-color: red;
    width: 12rem;
    height: 20px;
    border-radius: 10px;
    color: #FFFFFF;
    margin-left: 3rem;
}
.tony-fire {
    color: #FDCB4B;
    position: absolute;
    margin-left: 4rem;
    margin-top: -0.5rem;
}

.black {
    color: black;
    margin-right: 4px;
}
.red {
    color: red;
    margin-right: 4px;
}
.yellow {
    color: #FAAD14;
    margin-right: 4px;
}
.grey {
    color: #71767C;
    margin-right: 4px;
}

.green {
    color: #52C41A;
    margin-right: 4px;
}

.Tony-heading{
    text-align: center;
    overflow: hidden;
}

.Hotsales {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 30px;
}
.tony-main{
    width: 90%;
}
.lyon{
    background-color: #CDD454;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding-top: 13px;
    margin-top: 2rem;
    position: absolute;
    margin-left: 2rem;
}

.tony-hot  {
    justify-self: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    text-align: center;
}

.tony-hot:hover {
    box-shadow: 0 2px 8px gray;
    border-radius: 10px;
}

.tony:hover{
    box-shadow: none;

}

.select {
    padding-left: 1rem;
    background: none;
}

.tony-text {
    color: #5D5F5F;
}

.price {
    color: #1D1F1F;
}

.link {
    color: #E9672B;
    text-decoration: underline;
}

.tony-discount {
    text-decoration: line-through;
}

.SubH {
    padding-left: 5rem;
    font-size: 30px;
    font: bolder;
    font-family: serif;
    padding-bottom: 20px;
}

.kid {
    /* padding-bottom: 1rem; */
    padding-top: 1rem;
    border-radius: 10px;
}

.kid:hover {
    box-shadow: 0 2px 8px gray
}

.tony-kids {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
    border-radius: 10px;
}
.tony-row{
    padding-bottom: 5rem;
}

.tony-price{
    text-align: center;
    padding-top: 0.7rem;
}

.tony-chair {
    background-color: #FDF2E8;
    border-radius: 8px;
    display: flex;
    height: 27rem;
    width: 580px;
}
.tony-hot-last {
    margin-left: 6rem;
}

.tony-chair:hover{
    /* box-shadow: 0 2px 10px gray; */
    /* border-radius: 10px; */
}

.tony-lamb{
    background: #F4F4F5;
    border-radius: 8px;
    display: flex;
    height: 27rem;
    width: 580px;
}

.tony-lamb{
    box-shadow: 0 2px 8px gray;
    border-radius: 10px;
}
.tony-lamb1 {
    background: #F4F4F5;
    margin-top: 3%;
    height: 300px !important;
}

.tony-chair1 {
    position: absolute;
    margin-top: 4.4rem;
    width: 260px;
}
.tony-chair2 {
    padding-top: 4.5rem;
    margin-left: 24.5rem;
    margin-top: 3rem;
}

.tony-collection {
    color: #E9672B;
    position: absolute;
    margin-top: 12rem;
    margin-left: 12.3rem;
    letter-spacing: 3px;
    font-size: 12px;
}

.tony-comfort {
    position: absolute;
    color: #1D1F1F;
    margin-top: 13.3rem;
    margin-left: 10rem;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 1px;
}

.Tony-explore {
    position: absolute;
    background-color: #E9672B;
    padding-top: 6px;
    cursor: pointer;
    width: 9rem;
    height: 40px;
    border-radius: 40px;
    margin-top: 18rem;
    position: absolute;
    margin-left: 13.3rem;
    border: none;
    color: #fff;
}
.Tony-explore:hover {
    color: #fff;
}
.tony-coll2 {
    margin-left: 13rem;
}
.tony-explo2 {
    margin-left: 15rem;
}
.tony-comf2 {
    margin-left: 11.4rem;
}
.tony-lamp2{
    margin-left: 17rem;
    margin-top: 3%;
    width: 124px;
    height: 235px !important;
}

.tony2-heading{
    font-family: Sofia Pro;
    font-style: Bold;
    font-size: 30px;
    line-height: 48px;
    align-items: Center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}
.tony2-items{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}
.tony2-items ul{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    list-style: none;
    gap: 30px;
}
.tony2-items li a{
    gap: 50px;
    color: #E9672B;
    background-color: #FBF8F5;
    text-decoration: none;
    border-radius: 9px;
    padding: 3px 17px;
}
.tony2-items li a:hover{
    color:#FBF8F5;
    background-color: #E9672B;
}




.tony-friday {
    background-color: #212121;
    padding: 8px;
}
.tony-40 {
    color: #CDD454;
}
.tony-40-sale {
    color: #CDD454;
    font-size: 50px;
}
.friday2 {
    /* margin-left: 14rem; */
}
.friday-text {
    font-family: 'Sofia Pro', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #FEFEFE;
}


