
.Tony-Nav {
    background-color: #FFF5EB;
    width: 100%;
    color: #EF8C5F;
}

.Tonylist-nav li{
    margin: 10px;
}
.Tony-seller {
    font-weight: 500;
}

.second form input {
    padding: 8px 10px;
    width: 400px;
    background: #F4F4F5;
    border-radius: 40px;
    outline: none;
    border: none;
}
.Tony-search {
    position: relative;
    left: -10%;
    font-size: 18px;
}
.Tony-main {
    margin-left: -2%;
}
.Tony-main li a{
    text-decoration: none;
    padding: 20px;
    color: #5D5F5F;
    font-weight: 500;
}
.Tony-extra {
    font-size: 14px;
    margin-left: -28%;
    color: #5D5F5F;
}

@media (max-width: 992px) {
    .Tony-Nav {
       display: none;   
    }
    .Tony-head {
        display: none;
    }
    .Tony-main-nav {
        display: none;
    }
    .landing-search {
        display: block;
    }
}