.header1 {
    font-weight: 700;
    font-size: 30px;
    color: #1D1F1F;
    padding-bottom: 30px;
}
.header2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    color: #E9672B;

}

.para1 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-top: 0;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.5);
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px;
    gap: 32px;
    margin-left: 275px;
    width: 591px;
    height: 785.68px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(22, 22, 29, 0.12);
    border-radius: 24.2028px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

/* Scroll modification */
.box::-webkit-scrollbar {
    width: 12px;
}

.check-form {
    padding-bottom: 3rem;
}

.check-form input {outline: none;}
.check-form .email-input, select {
    background: #FFFFFF;
    border: 0.775px solid #D0D5DD;
    box-shadow: 0px 0.775px 1.55px rgba(16, 24, 40, 0.05);
    border-radius: 6.2px;
    padding: 7px 10px;
    width: 555px;
}

.check-input {
    background: #FFFFFF;
    border: 0.775px solid #D0D5DD;
    box-shadow: 0px 0.775px 1.55px rgba(16, 24, 40, 0.05);
    border-radius: 6.2px;
    padding: 7px 10px;
    width: 252px !important;
}
.check2 {
    margin-left: 14rem;
}
.check3 {
    margin-left: 12rem;
}
.check22 {
    display: inline;
    padding-left: 10px;
}
.checkout-account {
    margin-top: -1.5rem;
}
.checkout-tip {
    width: 550px;
    height: 60px;
    border: 1px solid #E3E3E3;
    border-radius: 5px 5px 0 0;
    padding: 5px 20px;
    background: #FFFFFF;
    border-bottom: 1px solid #E3E3E3;
}

.checkout-put-tip {
    width: 550px;
    /* height: 168px; */
    background: #F4F4F5;
    border-bottom: 1px solid #B6B8B8;
    padding-bottom: 0.3rem;
    margin-left: -1.3rem;
    margin-top: 1rem;
}
.checkout-price {
    width: 515px;
    height: 80px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    position: relative;
    top: 25px;
    left: 17px;
}

table, tr, td {
    border-right: 1px solid #000;
  }
  .checkout-discount {
    margin-left: 17px;
  }
  .checkout-discount form input {
    width: 412px;
    height: 44px;
    padding: 8px 10px;
    background: #FFFFFF;
    border: 1px solid #B6B8B8;
    border-radius: 5px;
    outline: none;
  }
  .checkout-discount form button {
    width: 95px;
    height: 44px;
    color: #fff;
    background: #B6B8B8;
    border-radius: 5px;
    border: none;
  }

  .checkout-foot {
    margin-top: 3rem;
    padding-bottom: 3rem;
    margin-left: -1.3rem;
  }
  .checkout-next {
    width: 200%;
    height: 38px;
    padding: 7px 10px;
    background: #E9672B;
    border: 0.775px solid #E9672B;
    box-shadow: 6.2px 6.2px 18.6px rgba(2, 2, 70, 0.15);
    border-radius: 6.2px;
    text-align: center;
    margin-left: 10rem;
  }
