.header1 {
    font-weight: 700;
    color: #E9672B;
    margin-bottom: -20px;
    font-family: 'Sofia Pro';
    margin-top: 50px;
}
.choose {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.5);
    margin-top: -20x;
}
.img2{
    margin-left: 380px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.line2 {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.02em;
    margin-top: -46px;
}
.welcome1 {
    color: #E9672B;
    margin-left: 362px;
}

.ship1 {
    color: #E9672B;
    margin-left: 35px;
}

.ment1 {
    color: #D7D8DA;
    margin-left: 35px;
}

.ord1 {
    color: #D7D8DA;
    margin-left: 52px;
}
.box2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    width: 591px;
    height: 315.98px;
    background: #FFFFFF;
    box-shadow: 12px 12px 36px 6px rgba(2, 2, 70, 0.12);
    border-radius: 24.2028px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 50px;
    margin-bottom: 500px;
    margin-left: 265px;
}

.radio1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12.4304px;
    width: 529.85px;
    height: 74.41px;
    background: #FFFFFF;
    border: 0.388451px solid #E9672B;
    box-shadow: 0px 4px 6px rgba(22, 22, 29, 0.12);
    border-radius: 6.21522px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-top: -30;
}

.method {
    width: 540.95px;
    height: 20px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #1D1F1F;
    margin-bottom: -30px;
}
.rad1 {
    width: 480.13px;
    height: 16px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #E9672B;
    margin-top: -10;

}

.radio2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12.4304px;
    width: 529.85px;
    height: 67.41px;
    background: #FFFFFF;
    border: 0.776903px solid #EFF0F7;
    border-radius: 6.21522px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin-top: -5px;
    margin-bottom: -10px;
}
.rad2 {
    width: 480.13px;
    height: 16px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #5D5F5F;

}

.check-back {
    text-align: center;
    padding: 5px;
    width: 160.31px;
    height: 34.6px;
    background: #FFFFFF;
    border: 0.775px solid #E3E3E3;
    border-radius: 6.2px;
    text-decoration: none;
    color: #000000;
}

.check-next {
    text-align: center;
    padding: 5px;
    width: 160.31px;
    height: 34.6px;
    background: #E9672B;
    border: 0.775px solid #E9672B;
    box-shadow: 6.2px 6.2px 18.6px rgba(2, 2, 70, 0.15);
    border-radius: 6.2px;
    text-decoration: none;
    color: #FFFFFF;
}