.confirm {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    text-align: center;
    color: #E9672B;
    margin-top: 50px;
}
.review {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.5);
}
.img5 {
    margin-left: 380px;
    margin-top: 40px;
    margin-bottom: 50px;
}
.line5 {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.02em;
    margin-top: -46px;
}
.welcome4 {
    color: #E9672B;
    margin-left: 362px;
}

.ship4 {
    color: #E9672B;
    margin-left: 35px;
}

.ment4 {
    color: #E9672B;
    margin-left: 35px;
}

.ord4 {
    color: #E9672B;
    margin-left: 52px;
}
.vector {
    margin-left: 500px;
    margin-top: 80px;
    margin-bottom: 950px;
}



/* Order Success Page */
.success {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 48px;
    /* identical to box height, or 160% */

    text-align: center;

    /* Secondary/Darker */

    color: #E9672B;
}
.placed {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    text-align: center;
    letter-spacing: 0.02em;

    /* Neutral/Darker */

    color: #5D5F5F;
}
.suc-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;

    width: 598.36px;
    height: 1366px;

    background: #FFFFFF;
    /* Shadow Button */

    box-shadow: 12px 12px 36px 6px rgba(2, 2, 70, 0.12);
    border-radius: 24.2028px;
    margin-left: 400px;
    margin-top: 40px;
}
.checkicon {
    margin-left: 200px;
}
.shopname {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    
    /* Text/text-emphasized */
    
    color: #333333;    
}
.thankyou {
    margin-top: -20px;
}
.lot {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */

    text-align: center;
    letter-spacing: 0.02em;

    /* Neutral/Darker */

    color: #5D5F5F;
    margin-top: 50px;
    margin-left: 150px;
}
.track {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* or 133% */

    text-align: center;
    letter-spacing: 0.02em;

    /* Neutral/Darker */

    color: #5D5F5F;
    margin-top: -30px;
}
.soair {
    color: #E9672B;
    font-size: 15px;
}
.order-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12.2489px;
    gap: 4.59px;
    width: 534.36px;
    height: 71.96px;
    background: #FFFFFF;
    border: 0.382778px solid #B2BCCA;
    border-radius: 6.12444px;
    margin-top: -10px; 
}
.order-review {
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #5D5F5F;
}
.fourteen {
    margin-top: -10px;
    font-family: 'Sofia Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #5D5F5F;
}
.dropdown11 {
    margin-left: 392px;
    margin-top: -10px;
}
.price11 {
    margin-left: 360px;
}
.order-block2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12.2489px;
    gap: 4.59px;
    width: 534.36px;
    height: 300px;
    background: #FFFFFF;
    border: 0.382778px solid #B2BCCA;
    border-radius: 6.12444px;
    margin-top: -7px;
}