.footer-bg {
    background-color: #1D1F1F;
}
.footer-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer-company {
    margin-left: 8rem;
}
.footer-news {
    margin-left: 6rem;
}
.footer-social {
    margin-left: -5%;
}
.footer-social img {
  padding: 20px;   
}
.footer-news .footer-newsletter {
    padding: 8px 15px;
    width: 320px;
    background: #000;
    opacity: 0.1;
    border: none;
    border-radius: 40px;
    outline: none;
    color: #fff;
}
.foot-btn {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    right: 8.3%;
}
.foot-new-img {
    padding: 10px;
    background: #E9672B;
    border-radius: 40px;
    cursor: pointer;
}
.footer-hr {
    width: 121%;
    margin-left: -10.7%;
}
.footer-card img {
    padding: 10px;
}

@media (max-width: 992px) {
    .footer-page {
        display: block;
    }
    .footer-company {
        margin-left: 0;
    }
    .footer-news {
        margin-left: 0;
    }
    .foot-btn {
        position: absolute;
        right: 30%;
    }
    .footer-hr {
        width: 113%;
        margin-left: -10.7%;
    }
    .foot-new-img {
        margin-left: 8rem;
    }
    .footer-card {
        margin-left: -1rem;
    }
    .footer-card img {
        margin-left: 2.5rem;
    }
}