@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* 1392px */
@media (min-width: 87em) {

}

.blogAside {
    width: 300px;
    height: 308;
    padding: 10px;
  }
  .blogAside .blog-input {
    background: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 40px;
    padding: 5px 10px;
    width: 300px;
    margin-left: -6.7%;
    margin-bottom: 10%;
    outline: none;
  }
  .blogAside .blog-search {
        position: relative;
        left: -13%;
  }

  .blog-container {
        flex: 1;
        position: relative;
    }
    .blog-container .blog-main-img{
        width: 920px;
        height: 600px;
        position: absolute;
        left: 45px;
    }
    .blog-container .blog-main-img2{
        width: 920px;
        height: 500px;
        position: relative;
        left: -20px;
    }
    .blog-tops .blog-date {
        margin-left: -0.4rem;
        margin-top: -10%;
        font-size: 17px;
        line-height: 16px;
        color: #B6B8B8;
    }
    .blog-contain {
        margin-top: 62%;
        margin-left: 5%;
    }
    .blog-para {
       font-size: 18px;
    }
    .blog-post {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: -3%;
    }
    .blog-post-img {
        width: 270px;
    }
    .Move-Slide {
        margin-left: 30%;
        margin-top: 5%;
    }
    .Move-Slide p {
        margin: 13px;
    }
    .blog-prev {
        border: 2px solid #5D5F5F;
        width: 60px;
        border-radius: 4px;
    }
    .bg-none {
        display: none;
    }


   /* BLOG DETAIL */
   .blog-title {
    background-color: #F4F4F5;
    width: 100%;
    height: 60px;
   }
   .blog-detail-img {
    width: 920px;
    height: 550px;
    margin-left: -3%;
   }
   .blog-social .b-social {
    margin: 5px;
   }
   .b-s-text {
    color: #5D5F5F;
   }
   .blog-social-media {
    margin-left: -5%;
   }
   .blog-data {
    margin-left: 5%;
   }
   .blog-de-img {
    width: 400px;
    height: 430px;
   }
   .blog-hr {
    width: 90%;
    height: 0px;
    border: 1px solid #F4F4F5;
}
.blog-comment {
    margin-left: -10%;
}
.blog-email {
    margin-left: 41.5%;
}
.blog-form input {
    padding: 10px;
    width: 460px;
    background: #FFFFFF;
    border: 1px solid #B6B8B8;
    border-radius: 40px;
    margin-right: 3%;
    outline: none;
    margin-top: 1%;
}
.blog-form textarea {
    padding: 13px;
    width: 950px;
    height: 175px;
    background: #FFFFFF;
    border: 1px solid #B6B8B8;
    border-radius: 4px;
    margin-top: 1%;
    outline: none;
}
.blog-form button {
    border: none;
    width: 200px;
    height: 45px;
    background: #1D1F1F;
    border-radius: 40px;
    color: #fff;
    margin-left: 70%;
    margin-bottom: 7%;
}



    /* 700px */
@media (max-width: 992px) { 
    .blog .blogAside {
        display: none;
    }
    .none {
        display: none;
    }
    .bg-none {
        display: block;
    }
    .blog-main-img {
        left: -14% !important;
        width: 350px !important;
        top: -10rem;
    }
    .blog-contain {
        position: relative;
        top: 30rem;
        margin-left: -12%;
    }
    .blog-post {
        display: grid;
        grid-template-columns: 1fr;
    }
    .blog-b {
        margin-top: 1.5rem;
    }
    .blog-text2 {
        margin-left: 2%;
        font-size: 20px;
    }
    .b-text {
        font-size: 28px !important;
    }
    .blog-post-img {
        width: 349px;
    }
    .blog-main-img2 {
        width: 349px !important;
        left: -1% !important;
    }
    .blog-container .b-detail {
        margin-left: -33%;
    }
    .Move-Slide {
        margin-left: -1%;
        margin-top: 5%;
        margin-bottom: 35rem;
    }

    /* BLOG DETAILS */
    .blog-title {
        padding-left: 6px;
    }
    .blog-detail .blog-detail-img {
        width: 350px;
        height: 500px;
        margin-left: -20%;
    }
    .blog-de-img {
        width: 350px;
    }
    .b-detail {
        margin-left: 3rem;
    }
    /* .blog-write {
        margin-left: -57%;
    } */
    /* .blog-social {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: -20%;
    }
    .blog-follow {
        margin-left: -10%;
        text-align: center;
    } */
    /* .blog-tags {
        text-align: center;
    } */
    .blog-social-media {
        margin-top: -6%;
    }
    .blog-social .b-social {
        margin: 7px;
    }
    .blog-data {
        margin-left: -14%;
        margin-top: 7%;
    }
    .blog-sm {
        margin-left: -14%;
    }
    .blog-de-text {
        margin-top: 4%;
    }
    .blog-quite {
        margin-left: -14%;
    }
    .blog-comment{
        margin-left: -14%;
    }
    .blog-form input {
        width: 338px;
        margin-top: 3%;
    }
    .blog-form textarea {
        width: 335px;
    }
    .blog-form button {
        margin-left: 20%;
    }
}

@media (max-width: 1200px) {
    .blog-tops {
        white-space: nowrap;
    }
}