.stephnie{
    border: 1px solid rgb(236, 235, 235);
    background-color: white;
}
.stephcontent{
    justify-content: center;
    align-items: center;
}

.stephcont{
    margin-left: 20px;
}
.stephfrontimge{
    margin-right: 20px;
    margin-top: 10px;
}
.stephimge{
    width: 380px;
    height: 435px;
    mask-border: 3px;
}
.stephimage2{
    margin-top: 10px;
}
.registerheadinge{
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 10px;
}
.stephsignine{
    border: 0.4px  rgb(183, 182, 182);
    border-radius: 30px;
    border-color: 2px 1px grey;
    text-align: center;
    margin-top: 3px;
    color: black;
    text-decoration: none;
    margin-top: 5px;
    padding: 4px;
    box-shadow: .5px .5px .5px 1px rgb(151, 150, 150);
    width: 300px;
    text-decoration: none;
}
.facebook{
    text-decoration: none;
}
.socialmedia{
    display: flex;
}
.stephgo{
    margin-left: 15px;
    margin-top: 7px;
}
.goog{
    width: 300px;
    height: 300px;
}
.stephor{
    text-align: center;
    margin: 3px;
}

.email{
    display: flex;
    flex-direction: column;
}
.email label{
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 5px;
    font-weight: 500;
}
.email input{
    border: 1.5px solid #9a9898;
    border-radius: 30px;
    padding: 7px;
    box-shadow: .6px .6px rgb(163, 163, 163);
}
.password{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.stephpassworde{
    display: flex;
    margin-top: 7px;
}
.passwordee{
    margin-top: 8px;
    margin-bottom: 4px;
    margin-left: 5px;
    font-weight: 500;
}
.forgotpassworde{
    margin-left: 120px;
    color: red;
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: 2px;
}
.password input{
    border: 1.5px solid  #9a9898;
    padding: 7px;
    border-radius: 30px;
    box-shadow: .6px .6px rgb(163, 163, 163);
}
.stephbuttone{
    border-radius: 30px;
    border: 1px solid white;
    background-color: #E9672B;
    justify-content: center;
    color: white;
    padding: 9px;
    text-decoration: none;
    width: 100%;
    margin-top: 35px;
    font-weight: 600;
}
.stephmembers{
    display: flex;
    margin-top: 6px;
    text-align: center;
    justify-content: center;

}
.newmembere{
        text-align: center;
        margin-top: 3px;
        text-decoration: none;
    
}
.newmemberse{
    text-align: center;
    margin-top: 3px;
    text-decoration: none;
}